/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;

}

/* a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}



/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/

.paginatitulo h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1 !important;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #ffff;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #4D008B ;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #fff;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-perfil {
  color: #012970;
}

.header-nav .nav-perfil img {
  max-height: 36px;
}

.header-nav .nav-perfil span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .perfil {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .perfil .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .perfil .dropdown-header span {
  font-size: 14px;
}

.header-nav .perfil .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .perfil .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .perfil .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filtro {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filtro .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filtro .icon:hover,
.dashboard .filtro .icon:focus {
  color: #4154f1;
}

.dashboard .filtro .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filtro .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filtro .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 0px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .ventas-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .ganancias-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .clientes-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Actividad */
.dashboard .actividad {
  font-size: 14px;
}

.dashboard .actividad .actividad-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .actividad .actividad-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .actividad .actividad-item .actividad-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .actividad .actividad-item .actividad-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .actividad .actividad-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .actividad .actividad-item:last-child .actividad-content {
  padding-bottom: 0;
}


/* Ventas Reicientes */
.dashboard .ventas-recientes {
  font-size: 14px;
}

.dashboard .ventas-recientes .table thead {
  background: #f6f6fe;
}

.dashboard .ventas-recientes .table thead th {
  border: 0;
}

.dashboard .ventas-recientes .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .ventas-recientes .dataTable-bottom {
  padding: 10px 0 0 0;
}


/*--------------------------------------------------------------
# Perfil Pagina
--------------------------------------------------------------*/
.perfil .perfil-card img {
  max-width: 120px;
}

.perfil .perfil-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.perfil .perfil-card h3 {
  font-size: 18px;
}

.perfil .perfil-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.perfil .perfil-card .social-links a:hover {
  color: #012970;
}

.perfil .perfil-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.perfil .perfil-overview .card-title {
  color: #012970;
}

.perfil .perfil-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.perfil .perfil-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.perfil .perfil-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.1s;
  border-top: 1px solid #eeeeee;
  background: #FFF;

}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.echart {
  min-height: 470px;
}

.linea {
  width: 200px;
  background: #53BCDA;
  min-height: 5px;
  border-radius: 10px;
}

.card-actividad {
  min-height: 600px;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/

.btn-cerrar {
  background-color: rgba(51, 51, 51, 0.05) !important;
  border-radius: 5px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.btn-guardar {
  background-color: #3692fc !important;
  border-radius: 5px;
  border-width: 0;
  color: #FAFAFA !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.btn-cerrar:hover {
  background-color: #F3F4F6 !important;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-guardar:hover {
  background-color: #1C84FF !important;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #FFFF !important;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.btn-agregar {
  background-color: #3692fc !important;
  border-radius: 5px;
  border-width: 0;
  color: #FAFAFA !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.btn-agregar:hover {
  background-color: #1C84FF !important;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #FFFF !important;
}

.btn-eliminar {
  background-color: #FF4742 !important;
  border-radius: 5px;
  border-width: 0;
  color: #FAFAFA !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.btn-eliminar:hover {
  background-color: #fe2720 !important;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #FFFF;
}

.btn-outline-eliminar {
  border: #FF4742 1px solid !important;
  border-radius: 5px;
  border-width: 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-outline-eliminar:hover {
  background-color: #fe2720 !important;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #FFFF !important;
}

.eliminar {
  font-size: 200px;
  color: #FF4742;
}

.form-select {
  background-color: rgba(51, 51, 51, 0.05);
}

.form-control {
  background-color: rgba(51, 51, 51, 0.05);
}

.nombre-usuario {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.cargo {
  margin-top: 3px;
  font-size: 18px;
  color: #747474;
}

.filtros-dashboard {
  padding: 20px 0 15px 0;
  font-size: 17px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-filtros {
  background: transparent;
  box-shadow: none;
}

.form-label {
  font-size: 15px;
}

/* .modal-header{
  background: #1E2B37;
  color: #FFFF;
  font-weight: 500;
} */


/* .card-reportes {
  height: auto;
}

.card-actividad {
  height: 100%;
} */



.tv-frame {
  width: 880px;
  /* Ancho del marco */
  height: auto;
  /* Alto del marco */
  background-color: rgb(255, 255, 255);
  /* Color de fondo del marco */
  border: 20px solid #555;
  /* Borde del marco */
  border-radius: 20px;
  /* Esquinas redondeadas del marco */
  padding: 20px;
  /* Espacio interior */
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Sombra */
  position: relative;
  /* Posicionamiento relativo */
}

.tv-frame::before {
  content: "";
  width: 90px;
  /* Ancho del pie del televisor */
  height: 20px;
  /* Alto del pie del televisor */
  background-color: #555;
  position: absolute;
  bottom: -30px;
  /* Posición del pie */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

video {
  width: auto;
  height: 100%;
  border-radius: 10px;
  /* Esquinas redondeadas del video */
}

.container {
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: nowrap;
}

.item {
  max-height: 6vh;
  width: 100%;
  text-transform: uppercase;
  background: #0C3D71;
  border: 2px solid rgba(255, 255, 255, 0.548);
  border-radius: 10px;
  font-family: avenir black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Grow, Shrink and Basis */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  /* Or shorthand */
  flex: 1 1 auto;
}

.item:hover {
  background-color: #0c3d71f6 !important;
  color: #fff !important;
}


/* INICIO Para Marquesina de TEXTO */
.marquee {
  position: relative;
  overflow: hidden;
  height: 8vh;
  display: flex;
  align-items: center;
  background: rgba(51, 51, 51, 0.05) !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .25);
}

.marquee .wrapper {
  position: absolute;
  overflow: hidden;
  width: 200%;
  animation: marquee 15s linear infinite;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.marquee .wrapper div {
  float: left;
  width: 50%;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* FIN Para Marquesina de TEXTO */

.botones-vistap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.backg-fondo {
  background-color: #1E2B37 !important;
  color: #FFFF;
}

/* MultiSelect */

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
  background: dodgerblue !important;
  border: none;
  border-radius: 8px;
}

/* Cards tramites cargados */
.tramites-cargados {
  border-left: #01BD67 20px solid;
  background-color: #f9f9f9;
}

.agregar-tramites {
  border-left: #FF4742 20px solid;
  background-color: #f9f9f9;
}

.title-tcargados {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
  max-height: 700px;
}

.check {
  flex-shrink: 0;
  width: 2em;
  height: 2em;
}

.linea-cargados {
  background: #01bd689a;
  min-height: 5px;
  border-radius: 10px;
  width: 80px;
}

.linea-agregar {
  background: #ff4842b7;
  min-height: 5px;
  border-radius: 10px;
  width: 80px;
}

/* adasddasdasdas */
.list {
  padding: 10px;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin: 10px 0 !important;
  cursor: move;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  /* Para posicionar el borde */
}


.card-tramites {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  /* box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1); */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  font-family: "Poppins", sans-serif;
}

.cuerpo-tramites {
  display: flex;
  align-items: center;
  /* Alinear verticalmente */
  padding: 10px !important;
}


.titulo-tramites {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  color: #697a8d;
  font-size: 18px;
  font-weight: 600;
}

.status-icon {
  font-size: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  /* Evitar que el icono se reduzca */
}

.status-icon.cargado {
  color: #01BD67;
  /* background: rgba(0, 128, 0, 0.267); */
  padding: 10px;
  border-radius: 50%;
}

.status-icon.no-cargado {
  color: #FF4742;
  /* background: rgba(255, 114, 114, 0.39); */
  padding: 10px;
  border-radius: 50%;
}

.texto-tramites {
  margin-top: 5px;
}

.texto-tramites::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: inherit;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.card.cargado::before,
.card.cargado::after,
.card.no-cargado::before,
.card.no-cargado::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  z-index: 1;
}


.tv-udt {
  width: 500px;
  /* Ancho del marco */
  height: auto;
  /* Alto del marco */
  background-color: rgb(255, 255, 255);
  /* Color de fondo del marco */
  border: 20px solid #555;
  /* Borde del marco */
  border-radius: 20px;
  /* Esquinas redondeadas del marco */
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Sombra */
  position: relative;
  /* Posicionamiento relativo */
}

.tv-udt::before {
  content: "";
  width: 90px;
  /* Ancho del pie del televisor */
  height: 20px;
  /* Alto del pie del televisor */
  background-color: #555;
  position: absolute;
  bottom: -30px;
  /* Posición del pie */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
}

.list ul li .handle {
  cursor: grab;
  margin-right: 10px;
  font-size: 14px;
  color: #697a8d;
}

.list ul li .titulo-tramites {
  flex-grow: 1;
}

.list ul li .status-icon {
  margin-left: 10px;
}


.list ul li:hover,
.list ul li:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.list ul li:hover {
  transform: translateY(-1px);
}

.list ul li:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* Estilos datatable */
.datatable-top {
  background-color: #ffff;
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.datatable-top .datatable-selector:focus,
.datatable-top .datatable-input:focus {
  outline: none;
}

.datatable-input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.datatable-selector {
  border-radius: 5px;
  margin-right: 10px;
}


/* Color Multiselect */
.choices__list--dropdown .choices__item {
  background: #FFF;
}

.badge .bg-success {
  color: #2eca6a;
  background: #e0f8e9 !important;
}

.badge .bg-danger {
  color: #ca2e2e;
  background: #f8e0e0 !important;
}

.badge .bg-warning {
  color: #ca9e2e;
  background: #f6f8e0 !important;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.1s ease;
}


.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.1s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.1s ease;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  transition: all 0.1s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.1s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.1s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.1s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.1s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

/* Personalizacion Sidebar */

.active-sidebar {
  background-color: #7239EA !important;
  color: rgb(255, 255, 255) !important;
}

.link{
  color: #BFBFBF;
}

.sidebar .nav-links .iocn-link:hover {
  background: #7239EA ;
}
.sidebar .nav-links .iocn-link a:hover {
  color: rgb(255, 255, 255);
}
.sidebar .nav-links .iocn-link i:hover {
  color: rgb(255, 255, 255);
}


/* Estilo para el contenedor general */
.iocn-link {
  display: flex;
  align-items: center;
}

/* Estilo para el contenedor general al pasar el cursor */
.iocn-link:hover {
  background-color: #7239EA !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilo para el enlace y el ícono dentro de .iocn-link */
.iocn-link:hover .link,
.iocn-link:hover i {
  color: rgb(255, 255, 255) !important; /* Cambia el color del texto e ícono */
}



/*--------------------------------------------------------------
# Main & Footer
--------------------------------------------------------------*/

#main {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 10px;
}


.sidebar.close~#main {
  margin-left: 78px;
  width: calc(100% - 78px);
}

.sidebar.close~#footer {
  margin-left: 78px;
  width: calc(100% - 78px);
}

#footer {
  margin-left: 260px;
  width: calc(100% - 260px);
  transition: all 0.1s;
}


#main {
  margin-top: 60px;
  padding: 20px 20px 70px 30px;
  transition: all 0.1s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}